---
import Layout from '../layouts/Layout.astro';
import irrigationSystem from '../assets/images/sistema_riego.jpg';
import goals from '../assets/images/objetivos.jpg';
---

<Layout title="Sistem a de riego automatico">
    <header class="pt-6 pb-14 w-full bg-[#10100e] sticky top-0">
        <nav class="mx-auto flex justify-center w-full max-w-screen-lg gap-8">
            <a href="/#info" class="uppercase hover:underline">¿Qué es?</a>
            <a href="/#goals" class="uppercase hover:underline">Objetivos</a>
        </nav>
    </header>
    <main class="mx-auto max-w-screen-lg">
        <h1 class="uppercase font-bold font-nippo text-6xl my-20 text-center">
            Sistema de riego automático
        </h1>
        <section id="info" class="p-10 bg-[#161616] rounded-lg mb-10">
            <h2 class="font-nippo text-4xl mb-8">
                ¿Qué es un sistema de riego automático?
            </h2>
            <p class="font-boska text-2xl">
                Es un dispositivo de riego automatizado que utiliza sensores de
                humedad para identificar los momentos óptimos para el riego,
                reduciendo la intervención humana y los costos. La investigación
                mejorará la eficiencia del uso del agua, evitando tanto la
                sub-irrigación como la sobre-irrigación, lo que resultará en un
                ahorro significativo de agua.
            </p>
            <img
                src={irrigationSystem.src}
                alt="Sistema de riego"
                class="w-full rounded-lg mt-8"
            />
        </section>
        <section id="goals" class="p-10 bg-[#161616] rounded-lg mb-10">
            <h2 class="font-nippo text-4xl mb-8">Objetivos</h2>
            <ul class="list-disc font-boska text-2xl space-y-1 list-inside">
                <li>
                    Implementar un sistema de riego automático para mejorar la
                    eficiencia del riego en cultivos y jardines, ahorrando
                    tiempo y agua.
                </li>
                <li>
                    Determinar los componentes adecuados para el sistema de
                    riego automático.
                </li>
                <li>
                    Diseñar el sistema de riego automático y crear un prototipo
                    funcional.
                </li>
                <li>
                    Implementar el sistema de riego automático en un entorno de
                    prueba para evaluar su desempeño.
                </li>
            </ul>
            <img
                src={goals.src}
                alt="Objetivos"
                class="w-full rounded-lg mt-8"
            />
        </section>
        <section id="info" class="p-10 bg-[#161616] rounded-lg mb-10">
            <h2 class="font-nippo text-4xl mb-8">
                ¿Qué es un sistema de riego automático?
            </h2>
            <p class="font-boska text-2xl">
                Es un dispositivo de riego automatizado que utiliza sensores de
                humedad para identificar los momentos óptimos para el riego,
                reduciendo la intervención humana y los costos. La investigación
                mejorará la eficiencia del uso del agua, evitando tanto la
                sub-irrigación como la sobre-irrigación, lo que resultará en un
                ahorro significativo de agua.
            </p>
        </section>
        <section id="info" class="p-10 bg-[#161616] rounded-lg mb-10">
            <h2 class="font-nippo text-4xl mb-8">
                ¿Qué es un sistema de riego automático?
            </h2>
            <p class="font-boska text-2xl">
                Es un dispositivo de riego automatizado que utiliza sensores de
                humedad para identificar los momentos óptimos para el riego,
                reduciendo la intervención humana y los costos. La investigación
                mejorará la eficiencia del uso del agua, evitando tanto la
                sub-irrigación como la sobre-irrigación, lo que resultará en un
                ahorro significativo de agua.
            </p>
        </section>
    </main>
</Layout>

<style>
    header {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    }
</style>
