---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Proyecto de un sistema de riego automatico por estudiantes de la universidad libre tercer semestre"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/fountain.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: 'Boska';
        src: url('../assets/fonts/Boska-Variable.ttf');
    }

    @font-face {
        font-family: 'Nippo';
        src: url('../assets/fonts/Nippo-Variable.ttf');
    }

    :root {
        font-family: 'Nippo';
        background-color: #10100e;
        color: #ffffe3;
        scroll-behavior: smooth;
    }

    body {
        background-image: url('../assets/images/dot.svg');
        background-repeat: repeat;
        min-height: 100vh;
    }
</style>
